<head>
    <meta charset="utf-8">
    <title>Codedirect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0bf8f3d6-1f6e-4a2c-93d4-58ad19ea40f7";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body class=" ">
    <a id="start"></a>
    <div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu2" class="bar bar-2 hidden-xs bar--transparent bar--absolute" data-scroll-class='90vh:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center text-left-sm hidden-xs col-md-push-5">
                        <div class="bar__module">
                            <a href="index.html">
                                    <img class="logo logo-dark" alt="logo" src="img/logo.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo.png" />
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-md-5 col-md-pull-2">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">

                                <li class="dropdown">
                                    <a href="/" class="dropdown__trigger navleftmargin">Home</a>
                                </li>

                                <li class="dropdown">
                                    <a href="/kelas" class="dropdown__trigger navleftmargin">Kelas</a>
                                </li>

                                <li class="dropdown">
                                    <a href="fasilitas" class="dropdown__trigger navleftmargin">Fasilitas</a>
                                </li>

                                <li class="dropdown">
                                    <a href="projects" class="dropdown__trigger navleftmargin">Projects</a>
                                </li>

                                <li class="dropdown">
                                    <a href="lokasi" class="dropdown__trigger navleftmargin">Lokasi</a>
                                </li>

                            </ul>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-md-5 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm btn--primary type--uppercase" href="daftar">
                                <span class="btn__text">
                                    Daftar Sekarang
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>
