<!doctype html>
<html lang="en">
    {{>header}}
        <div class="main-container">
            <section class="cover height-90 imagebg text-center" data-overlay="2" id="home">
                <div class="background-image-holder">
                    <img alt="background" src="img/kelas.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 style="font-weight: 700; color: #31639c; margin-bottom: 3em;">
                                Ingin Belajar Pemrograman dan Mengembangkan Produk Berbasis Teknologi?  
                            </h3>
                            <a class="btn btn--primary type--uppercase" href="kelas.html">
                                <span class="btn__text">
                                    Pelajari Selengkapnya
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center cta cta-4 space--xxs border--bottom ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label--inline">Hot!</span>
                            <span>Belajar di Codedirect mulai dari Rp 200.000,00 hingga Rp 350.000,00 !
                                <a href="/daftar">Daftar</a> Sekarang!</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-left" id="kelas">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Kelas untuk Programmer dan Developer, Pemula maupun Lanjutan</h2>
                            <p class="lead">
                                Pembelajaran langsung secara tatap muka dengan 4-7 murid per kelas. Ruang kelas tersedia dan nyaman.
                            </p>
                            <a class="btn btn--primary type--uppercase" href="/kelas">
                                <span class="btn__text">
                                    Pelajari Selengkapnya
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class=" ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Android.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Basic Android Development Workshop</h5>
                                    <p>
                                        Kursus pengembangan aplikasi Android. Belajar menggunakan Android Studio dengan bahasa pemrograman Java untuk menciptakan suatu aplikasi Android.
                                    </p>
                                    <a href="kelas-detail-android.html">
                                        Learn More
                                    </a>
                                    <span class="label">Hot</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Python.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Basic Python Programming</h5>
                                    <p>
                                        Belajar pemrograman menggunakan Python. Digunakan untuk beberapa aplikasi seperti Image Processing, Machine Learning dan Back End Server.
                                    </p>
                                    <a href="kelas-detail-javascript.html">
                                        Learn More
                                    </a>
                                    <span class="label">Hot</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-IoT.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>IoT (Internet of Things) with Open Source</h5>
                                    <p>
                                        Belajar mengembangkan aplikasi berbasis Internet. Belajar mengembangkan aplikasi untuk mengatur suhu suatu ruangan, mematikan lampu dengan handphone ataupun website.
                                    </p>
                                    <a href="kelas-detail-python.html">
                                        Learn More
                                    </a>
                                    <span class="label">Coming Soon</span>                                    
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-left" id="fasilitas">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Dapatkan beberapa fasilitas terbaik hanya dengan Rp 200.000,00 hingga Rp 350.000,00</h2>
                            <p class="lead">
                                Kelas nyaman, modul pelatihan lengkap, video dan sertifikat.
                            </p>
                            <a class="btn btn--primary type--uppercase" href="fasilitas.html">
                                <span class="btn__text">
                                    Pelajari Selengkapnya
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section id="fasilitas">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Books-2 icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Modul Lengkap</h5>
                                    <p>
                                        Modul pelatihan untuk setiap pertemuan kursus disediakan oleh panitia penyelenggara tanpa biaya tambahan. Bertujuan agar peserta pelatihan dapat mereview pelajaran yang sudah disampaikan.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-File-Video icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Video Pembelajaran</h5>
                                    <p>
                                        Setiap pertemuan akan dilakukan perekaman video yang akan dibagikan bagi peserta. Diperuntukan bagi peserta yang berhalangan hadir agar tidak tertinggal materi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Calendar-4 icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Jadwal Fleksibel</h5>
                                    <p>
                                        Jadwa pembelajaran dilakukan pada sore dan malam hari agar tidak mengganggu jam kerja dan jadwal ibadah.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-File-ClipboardTextImage icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Sertifikat Peserta dan Keahlian</h5>
                                    <p>
                                        Sertifikat diberikan bagi peserta yang menyelesaikan pelatihan. Bertujuan agar meningkatkan harga jual peserta dan syarat kelulusan bagi beberapa kampus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-6 unpad--bottom  bg--dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <h6 class="type--uppercase">About Us</h6>
                            <p style="margin-bottom: 1.85714286em;">
                                Codedirect adalah lembaga pengembangan produk dan pelatihan yang dipayungi oleh Computation and Cyber Physical System Teknik Fisika ITS. Berdiri dari tahun 2018 bertujuan sebagai lembaga pengembang produk berbasis teknologi dan pencetak programmer ataupun developer handal yang siap menciptakan produk-produk terbaru. Adapun riset kami bergerak dibidang teknologi berbasis open source dan industri 4.0.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h6 class="type--uppercase">Recent Updates</h6>
                            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Let&#39;s rock by building some apps!</p>&mdash; Codedirect Indonesia (@codedirect) <a href="https://twitter.com/codedirect/status/1046984113020964864?ref_src=twsrc%5Etfw">October 2, 2018</a></blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="instafeed instafeed--gapless" data-user-name="Instagram" data-amount="6" data-grid="3"></div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h6 class="type--uppercase">Newsletter</h6>
                            <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your email address.">
                                <input class="validate-required validate-email" type="text" name="EMAIL" placeholder="Email Address" />
                                <button type="submit" class="btn btn--primary type--uppercase">Subscribe</button>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                <div class="footer__lower text-center-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> Codedirect &mdash; All Rights Reserved</span>
                            </div>
                            <div class="col-sm-6 text-right text-center-xs">
                                <ul class="social-list list-inline list--hover">
                                    <li>
                                        <a href="https://plus.google.com/u/1/117491539084802447568">
                                            <i class="socicon socicon-google icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/codedirect?lang=en">
                                            <i class="socicon socicon-twitter icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/codedirect.id/?modal=admin_todo_tour">
                                            <i class="socicon socicon-facebook icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/codedirect/">
                                            <i class="socicon socicon-instagram icon icon--xs"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <!-- <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a> -->
        {{>script}}
    </body>
</html>