<!doctype html>
<html lang="en">
    {{>header}}
        <div class="main-container">
            <section class="imagebg image--light cover bg--secondary">
                <div class="background-image-holder hidden-xs">
                    <img alt="background" src="img/kelas.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <div>
                                <h1>Kelas Tersedia</h1>
                                <p class="lead">
                                    Beberapa Kelas Pengembangan Aplikasi dan Programming yang Tersedia.
                                </p>
                                <hr class="short">
                                <p>
                                    Butuh info lebih lanjut dan ingin memberikan kritik atau saran
                                    <br /> ingin membantu kami menjadi lebih baik?
                                    <a href="mailto:codedirect.id@gmail.com?subject=Hello Code Direct">Contact Us &rarr;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class=" ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Android.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Basic Android Development Course</h5>
                                    <p>
                                        Belajar membuat aplikasi Android menggunakan Android Studio.
                                    </p>
                                    <a href="/kelas-detail-android">
                                        Learn More
                                    </a>
                                    <span class="label">Open Batch</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Js.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Javascript For Web App Development</h5>
                                    <p>
                                        Teknik dasar untuk membuat sebuah aplikasi berbasis website.
                                    </p>
                                    <a href="/kelas-detail-javascript">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Arduino.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Arduino Microcontroller Development</h5>
                                    <p>
                                        Kursus pemrograman mikrokontroller menggunakan platform Arduino.
                                    </p>
                                    <a href="/kelas-detail-arduino">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-IoT.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Basic IoT Development for Smart City</h5>
                                    <p>
                                        Belajar menciptakan sistem berbasis IoT dengan NodeMCU, Android dan Node.js.
                                    </p>
                                    <a href="kelas-detail-iot.html">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Python.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Basic Python Programming</h5>
                                    <p>
                                        Bahasa pemrograman wajib untuk developer masa depan.
                                    </p>
                                    <a href="kelas-detail-python.html">
                                        Learn More
                                    </a>
                                    <span class="label">Open Batch</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Java.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Java and Kotlin Basic Course</h5>
                                    <p>
                                        Bahasa pemrograman untuk pengembangan aplikasi Android.
                                    </p>
                                    <a href="kelas-detail-java.html">
                                        Learn More
                                    </a>
                                    <span class="label">Open Batch</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-OpenCV.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Computer Vision with OpenCV</h5>
                                    <p>
                                        Pengembangan aplikasi berbasis citra menggunakan OpenCV.
                                    </p>
                                    <a href="kelas-detail-opencv.html">
                                        Learn More
                                    </a>
                                    <span class="label">Open Batch</span>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1">
                                <img alt="Image" src="image/Cover-Linux.png" />
                                <div class="feature__body boxed boxed--border">
                                    <h5>Linux Basic Course</h5>
                                    <p>
                                        Belajar menggunakan linux sebagai OS paling populer di dunia.
                                    </p>
                                    <a href="kelas-detail-linux.html">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="img/logo-dark.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="daftar.html">
                                        <span class="type--fine-print">Daftar Kelas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:codedirect_id@gmail.com?subject=Hello Code Direct">
                                        <span class="type--fine-print">codedirect.id@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://plus.google.com/u/1/117491539084802447568">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/codedirect?lang=en">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/codedirect.id/?modal=admin_todo_tour">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/codedirect/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Kunjungi Kantor Kami di Computation dan Cyber Physical System Laboratory Department of Engineering Physics ITS.
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Codedirect</span>
                            <a class="type--fine-print" href="/404">Privacy Policy</a>
                            <a class="type--fine-print" href="/404">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <!-- <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a> -->
      {{>script}}
    </body>
</html>