<!doctype html>
<html lang="en">
    {{>script}}
        <div class="main-container">
            <section class="space--sm" style="padding-top: 10em;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Java and Kotlin for Android Development</h1>
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="kelas.html">Kelas</a>
                                </li>
                                <li>Java and Kotlin for Android Development</li>
                            </ol>
                            <hr>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
                </section>
                <section class="switchable">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7">
                                <img alt="Image" style="margin-top: -5em" src="image/Cover-Java.png" />
                                <h3>Silabus Pembelajaran</h3>
                                <h5>1. Introduction</h5>
                                <h5>2. Data Types</h5>
                                <h5>3. Numeric Types</h5>
                                <h5>4. Deep String</h5>
                                <h5>5. Operator</h5>
                                <h5>6. Flow Control</h5>
                                <h5>7. Sequences</h5>
                                <h5>8. Dictionary</h5>
                                <h5>9. Function and Modules</h5>
                                <h5>10. Object Oriented Programming</h5>
                                <h5>11. Database</h5>
                                <h5>12. Introduction Generator and Lambda</h5>
                                <h5>13. External Library</h5>
                                <h5>14. Realtime Apps</h5>
                                <h5>15. More Python Apps(Optional)</h5>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="text-block" style="margin-top: -5em">
                                    <h5>Fasilitas Pembelajaran</h5>
                                    <ul class="bullets">
                                        <li>Modul Pembelajaran</li>
                                        <li>Video Setiap Pertemuan</li>
                                        <li>Sertifikat Peserta</li>
                                        <li>Portfolio</li>
                                    </ul>
                                </div>
                                <div class="text-block">
                                    <h5>Jumlah Pertemuan</h5>
                                    <p>
                                        12 Kali Pertemuan &mdash; 1,5 Jam Sekali Pertemuan . 
                                    </p>
                                </div>
                                <div class="text-block">
                                    <h5>Other Details</h5>
                                    <p>
                                        Full time, on site at our HQ in Engineering Physics Department ITS.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
                <section class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                                <div class="cta">
                                    <h2>Apalagi yang Anda tunggu?</h2>
                                    <p class="lead">
                                       Daftarkan diri anda dan mulai belajar pemrograman bersama kami.
                                    </p>
                                    <a class="btn btn--primary type--uppercase" href="daftar.html">
                                        <span class="btn__text">
                                            Daftar Sekarang
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="img/logo-dark.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="daftar.html">
                                        <span class="type--fine-print">Daftar Kelas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:codedirect_id@gmail.com?subject=Hello Code Direct">
                                        <span class="type--fine-print">codedirect.id@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://plus.google.com/u/1/117491539084802447568">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/codedirect?lang=en">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/codedirect.id/?modal=admin_todo_tour">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/codedirect/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Kunjungi Kantor Kami di Computation dan Cyber Physical System Laboratory Department of Engineering Physics ITS.
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Codedirect</span>
                            <a class="type--fine-print" href="404.html">Privacy Policy</a>
                            <a class="type--fine-print" href="404.html">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <!-- <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a> -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>