<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Codedirect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="img/favicon.png">
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0bf8f3d6-1f6e-4a2c-93d4-58ad19ea40f7";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/logo.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu2" class="bar bar-2 hidden-xs bar--transparent bar--absolute" data-scroll-class='90vh:pos-fixed'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-center text-left-sm hidden-xs col-md-push-5">
                            <div class="bar__module">
                                <a href="index.html">
                                    <img class="logo logo-dark" alt="logo" src="img/logo.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-5 col-md-pull-2">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">

                                    <li class="dropdown">
                                        <a href="index.html" class="dropdown__trigger navleftmargin">Home</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="kelas.html" class="dropdown__trigger navleftmargin">Kelas</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="fasilitas.html" class="dropdown__trigger navleftmargin">Fasilitas</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="projects.html" class="dropdown__trigger navleftmargin">Projects</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="lokasi.html" class="dropdown__trigger navleftmargin">Lokasi</a>
                                    </li>

                                </ul>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-5 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <a class="btn btn--sm btn--primary type--uppercase" href="daftar.html">
                                    <span class="btn__text">
                                        Daftar Sekarang
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1>Surabaya for Smart City</h1>
                            <p class="lead">
                                Kunjungi kelas kami di Surabaya atau kantor kami di gedung C dan E, Laboratorium Computation and Cyber Physical System, Departemen Teknik Fisika ITS.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <div class="map-container border--round">
                                    <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=-7.294091847430982,112.77401447296144&amp;q=Jl.%20Semalang%20Indah%20V%20+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google map generator</a></iframe></div><br />
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15830.418515782798!2d112.78843694207039!3d-7.2857448413803425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fa10c1c073fb%3A0xed42d5c8cbc828b0!2sGraha+Sepuluh+Nopember+ITS+Surabaya!5e0!3m2!1sid!2sid!4v1536087959036" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                            </div>
                            <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=teknik%20fisika%20its&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">website erstellen lassen</a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div> -->
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="switchable__text">
                                <h3>Jalan Semalang Indah V No 19
                                    <br />Perumahan Wisma Mukti, Surabaya</h3>
                                <p class="lead">
                                    E:
                                    <a href="mailto:codedirect.id@gmail.com?subject=Hello Code Direct">codedirect.id@gmail.com</a>
                                    <br /> P: +6285899731884
                                </p>
                                <p class="lead">
                                    Give us a call, we endeavour to answer all enquiries within 48 hours everyday.
                                </p>
                                <p class="lead">
                                    We are open officially from 9am &mdash; 5pm but you can come to our office almost everyday 24 Hours a day.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="img/logo-dark.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="daftar.html">
                                        <span class="type--fine-print">Daftar Kelas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:codedirect.id@gmail.com?subject=Hello Code Direct">
                                        <span class="type--fine-print">codedirect.id@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://plus.google.com/u/1/117491539084802447568">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/codedirect?lang=en">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/codedirect.id/?modal=admin_todo_tour">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/codedirect/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Bekerja sama dengan Laboratorium Computation and Cyber Physical System Teknik Fisika ITS.
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Codedirect</span>
                            <a class="type--fine-print" href="404.html">Privacy Policy</a>
                            <a class="type--fine-print" href="404.html">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <!-- <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a> -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>